<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Furever Homed</title>
  <link rel="stylesheet" href="../../public/css/jass.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
  <header>
    <select name="Pick Animal" id="animal_selection">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <nav>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </select>
  </header>
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>