<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Furever Homed</title>
</head>
<body>
  <header>
    <select name="Pick Animal" id="animal_selection">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
    </select>
  </header>
  <main>
  {{{body}}}
  </main>
</body>
</html>