<Section>

    <h1>Hey, you aren't supposed to be here!</h1>
    <img src="https://media.istockphoto.com/id/158742678/photo/handyman-dog-worker.jpg?s=612x612&w=0&k=20&c=9JGqFgVo_5mWGuvlu0AqCPPxtydB2eSn_5i0yhTutnM=" alt="Whoops, not even the 404 Loaded" width="400" height = "auto"> </img>
    <H1>... but do you have any snacks?</H1>
    <Button onclick="sendBackHome()"> No? Then get out of here!</Button>
    <script>
        function sendBackHome(){
   window.location.href = `/`
        }
    </script>
</Section>