
{{!-- this is how we can interact with the data in seeds using handlebars and we can add in saved animals using get and post routes. We can also allow for deleting by making routes for deleting. If we want to update search paramaters we only have to create a new route based on what additional information we will allow the user to search for.  --}}
<h1>animalss</h1>
{{#each animals}}
<p>age: {{ this.age }}</p>
<p>name: {{ this.name }}</p>
<p>gender: {{ this.gender }}</p>
{{/each}}
