<h1>Services</h1>
<p>We want to provide an easy way to find the perfect pet for your home and get
    you in contact with the shelter to make that happen. We believe every
    dog deserves a home, and every cat deserves pet humans of their own.
    If you have any requests or would like to get in 
    touch with any of the creators of this page, you can reach us via our contact card.
</p>

<h2>DISCLAIMER</h2>
<p>We are NOT associated with any animal shelters or organizations. We are sourcing all of our
    material from a publically avaible API and we do not take responsibility for
    any issues with innaccurate information provided via our page. All of our data is sourced
    from PetfindersAPI in real time, however the saved animals are stored in our systems
    for ease of reference
</p>