<link rel="stylesheet" href="../public/css/ourstory.css">
<div class="paper">
    <div class="holes"></div>
    <textarea placeholder="We dedicate our services to making it easier to find your new best friend!
    If you are looking for a furry friend, whether it be cat or dog, they cannot wait to meet you! Give them the home they deserve!"></textarea>
</div>