* {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:#ebebeb;
}

:root {
    --primary: #0e423e;
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #4e3963;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
    background: linear-gradient(to right,hsl(0, 7%, 23%),rgb(61, 41, 131));
  }

  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
    overflow: hidden;
    float: left;
  }

  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    min-height: 100%;
    margin: 0px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    background-color: #ebebeb;
  }
  
  .add-dish-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  .edit-dish-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  /* CARDS */
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }


  img {
    border: 3px solid black;
    box-shadow: 1px 1px 3px 3px hsl(197, 13%, 74%);
    border-style: double;
    filter: grayscale(.5) opacity(0.9) hue-rotate(120deg);
  }



  .card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    border: 3px solid;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: large;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .menu-card {
    margin: 50px;
    flex: 0 1 300px;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: groove;
    border-width: thick;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .card-header {
    color: var(--light);
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
  }

  .has-nuts {
    color: var(--error)
  }

  .dish-card-header {
    font-size: 1.5rem;
    color: var(--tertiary);
    margin: 0;
    background-color: var(--light);
    padding: 0.625rem;
    border-bottom-style: solid;
  }
  
  .card-body {
    padding: 2.5%;
    font-size: 1.4rem;
    text-align: center;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: block;
  }

  #animal_selection {
    float: center;
    display: center;
    margin: 0;
    padding: 0;
    width: 250px;
    color: black;
    background-color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  /* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
  